*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
.container{
    width:100%;
    padding: 0px 20px;
    margin: 0 auto;
}
.button_primary{
    background-image: linear-gradient(
        to right,
        red 0%,
        rgb(183, 49, 62) 51%,
        darkred 100%
    );
    color: white;
    border:none;
    padding:12px;
    border-radius: 6px;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar__brand{
    width:90px;
}
.navbar__logo{
    width:100%;
}
.nav__item{
    background-image: linear-gradient(
        to right,
        red 0%,
        rgb(183, 49, 62) 51%,
        darkred 100%
    );
    color: white;
    border:none;
    padding:12px;
    border-radius: 6px;
    cursor: pointer;
}
.nav__item:hover{
    border:2px solid pink;
}
.hero__imagecontainer{
    width:100%;
}
.hero__image{
    width:100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px 12px rgba(0,0,0,0.25);
}
.hero_des{
    font-size: 20px;
    margin:20px 0px;
}
.food__card{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}
.food_cardimage{
    width:100%;
    height:100%;
    
}
.food_image{
    height:100%;
    width:100%;
    border-radius: 8px 8px 0 0;
}
.food_carddes{
    padding:15px;
}
.explore__menutext{
    font-size: 30px;
    margin-top: 50px;
    margin-top: 30px;
    text-align: center;
}
.restraurant_text{
    font-size: 30px;
    margin-top: 50px;
    margin-top: 30px;
    text-align: center;
}
.restuarant__images{
    width:100%;

}
.restuarant_images_row__one,.restuarant_images_row__two{
    width:100%;
    display: flex;
    gap:3px;

}
.restuarant_images_row__one{
    align-items: baseline;
    margin-bottom: 3px;
}

.restuarant_image__1,.restuarant_image__2,.restuarant_image__3,.restuarant_image__4{
    width:100%;
}
.restuarant_image__1,.restuarant_image__4{
    height:120px;
    
}
.restuarant_image__2,.restuarant_image__3{
    height:180px;
    width:120%;
}
.restaurant1,.restaurant2,.restaurant3,.restaurant4{
    width:100%;
    height: 100%;
}
.get__text{
    font-size: 30px;
    margin-top: 50px;
    margin-top: 30px;
    text-align: center;
}
.notified__input{
    text-align: center;
}
.restuarant__container{
    position: relative;
    text-align: center;
}
.restuarant__bgimage{
    width:100%;
    height:500px;
    position: absolute;
    top:0px;
    left:0;
    width:100%;
   z-index: -3;
   
}
.restaurant__img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.restuarant__text{
    font-size: 40px;
    margin-top: 100px;
    padding-top: 150px;
    text-align: center;
    color: #fff;
}
.footer__container{
    position: relative;
}
.footer__bg{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index:-3;
    background-color: red;
    display:flex;
    align-items: center;
    border-radius: 8px;
    color: #fff;
}
.footer__left,.footer__right{
    margin-left: 30px;
    width:100%
}
.footer__left{
    text-align: center;
}
@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding:4px;
    }
    .restuarant__bgimage{
        width:100%;
        height:300px;
        position: absolute;
        top:0px;
        left:0;
        width:100%;
       z-index: -3;
       
    }
    .footer__bg{
        margin-top: 100px;
        width: 100%;
        height: 100px;
        position: absolute;
        top:0;
        left:0;
        z-index:-3;
        background-color: red;
        display:flex;
        align-items: center;
        border-radius: 8px;
        color: #fff;
    }
    .hero__container{

        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top:20px;
    }
    .explore__menulists{
        display: flex;
        gap:10px;
        margin-top: 40px;
        margin-left: 80px;
        text-align:center ;
        
    }
    .view__more{
        align-items: center;
    }
    .food__card{
        height:100%;
    }
    #Pizza__card{
        margin-top: -10px;
        margin-bottom: 30px;
    }
    .explore__menucontainer{
        position: relative;
        margin-top:50px;
        text-align: center;
    }
    .expore__menu__bg{
        position: absolute;
        top:0px;
        left:0;
        width:100%;
        height:100%;
        background-image: linear-gradient(
        to right,
        red 0%,
        rgb(183, 49, 62) 51%,
        darkred 100%
    );
    transform: skewY(-5deg );
    z-index: -3;

    }
    .restraurant_container{
        display: flex;
        align-items: center;
    }
    .restraurant_text{
        width: 100%;
        font-size: 40px;
    }
}

@media(min-width:1020px){
    .container{
        max-width: 900px;
    }
    .navbar__brand{
        width:90px;
    }
    .hero__description{
        width:100%;
    }
    .hero_des{
        font-size: 50px;
    }

}
@media(min-width:1400px){
    .container{
        max-width: 1250px;
    }
}